*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main h1{
    font-size: 9vw;
}

.main .cursor{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    transition: all linear 0.2;
}