* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo_app {
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 5rem auto 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.todo_app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo_app img {
    width: 30px;
    margin-left: 1rem;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 1rem;
    padding-left: 20px;
    margin-bottom: 25px;
}

.searchBox input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.searchBox button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: small;
    cursor: pointer;
    border-radius: 1rem;
}

.radio-list {
    list-style: none;
}

.radio-list li {
    list-style: none;
    font-size: large;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.radio-list li::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.checked{
    color: #555;
    text-decoration: line-through;
}

.checked::before{
    background-color: #08b90b;
}

.radio-list span{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: large;
    color: #555;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    bottom: 4px;
}

.radio-list span:hover{
    background: #edeef0;
}